body {
  background-image: url(./background.jpg);
  background-size: 30%;
}

a {
  color: black;
  text-decoration: none;
}
.App {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemanz {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-list-item {
  margin: 10px;
  padding: 10px;
  width: 230px;
}

.pokemon-list-item:hover {
  transform: scale(1.1);
  background-color: yellow;
  border-radius: 20px;
}